---
import Main from '../../layouts/main.astro';
const posts = await Astro.glob('./*.md');
import tools from '../../tools';
---

<Main title="Anas Ouardini's Blog Posts" type="WebSite" date="2023-06-04" seo_date="2023-06-04">
  <main class="w-[90%] mx-auto max-w-[1000px] my-10">
    <h1 class="mb-10 text-2xl">Blog Posts</h1>
    {
      posts
        .filter((post) => !post.frontmatter.draft)
        .map((post) => (
          <a href={`/posts/${post.frontmatter.slug}`} class="block max-w-[35rem] mb-5 bg-dark-2 rounded-[3%]">
            <div
              aria-label="blog post card"
              class="p-4 text-gray-200"
            >
              <figure class="pb-[1.2rem]"><img src={post.frontmatter.image?.url}/></figure>
              <h2 class="text-xl mb-2 capitalize">{post.frontmatter.title}</h2>
              <p class="text-md">
               <span class="text-gray-500">Published on</span> {post.frontmatter.date.split(' ').slice(0, 4).join(' ')}
                <span class="text-gray-500">by</span> {post.frontmatter.author}
              </p>
            </div>
          </a>
        ))
    }
  </main>
</Main>
