---
import Main from './../layouts/main.astro';
---

<Main title="Blog Policy">
    <h1 class="mb-10 text-2xl text-center">Privacy policy</h1>
    <p class="text-center text-xl text-red-400">The page is not implemented yet!</p>
</Main>
