---
import Main from '../layouts/main.astro';
---

<Main title="Blog Privacy Policy">
    <h1 class="mb-10 text-2xl text-center">Privacy policy</h1>
    <p>Your privacy is important. This Privacy Policy explains how your information is collected, used, disclosed, and safeguarded when you visit our blog.</p>

    <h2>Information Collected</h2>
    <p>Personal information such as your name and email address may be collected when voluntarily submitted through our contact form or newsletter signup.</p>
  
    <h2>Use of Your Information</h2>
    <p>The information you provide may be used to:</p>
    <ul>
      <li>Respond to your inquiries or requests</li>
      <li>Send you newsletters or promotional emails</li>
      <li>Improve the blog's content</li>
    </ul>
  
    <h2>Disclosure of Your Information</h2>
    <p>Your personal information will never get shared with third parties</p>
  
    <h2>Security of Your Information</h2>
    <p>Reasonable measures are taken to protect the information you provide from unauthorized access, use, or disclosure.</p>
  
    <h2>Changes to This Privacy Policy</h2>
    <p>The right to make changes to this Privacy Policy is reserved at any time and for any reason. The updated policy will have the same URL.</p>
</Main>