---
import Main from './main.astro';
const {
    frontmatter: {title, description},
} = Astro.props;
---

<Main {title} {description}>
    <main class="flex flex-col justify-between w-[90%] mx-auto max-w-[1000px] mt-10">
        <article class="p-3">
            <h1 class="capitalize text-2xl mb-5">{title}</h1>
            <slot>blog post not found</slot>
        </article>
        <aside>
            <div aria-label="recent posts"></div>
            <div aria-label="featured work"></div>
        </aside>
    </main>
</Main>
